@model IEnumerable<Post>



@{
   
}
<h3 class="panel">Admin Panel </h3>



<div>
     <form class="admin">
        @foreach (var post in Model)
        {
        <li>
            @post.Title
            
            -

            <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id">

                    Edit               
            </a>

            -
            <a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id">

                Remove
                    
            </a>

         

        </li>
        }
    </form>
</div>
