
@model PostViewModel
@{

}

<div >
    <form asp-controller="Create" asp-action="Post" method="post" enctype="multipart/form-data">
        <input asp-for ="Id" type="hidden" />
        <div>
            <label>Title</label>
            <input asp-for="Title" />
        </div>
        <div>
            <label>Body</label>
            <input asp-for="Body" />
           
           
        </div>
        <div>
            <label>Category</label>
            <select asp-for="Category">
                <option value="Travel">Travel</option>
                <option value="Programing">Programing</option>
                <option value="Music">Music</option>
            </select>
        </div>
        <div>
            <label>Image</label>
            <input asp-for="Image" />
           
           
        </div>
        <input type="submit" value="Submit"/>
    </form>
</div>
}
