<link rel="stylesheet" href="~/css/site.css" />


@model RegisterViewModel
@{

}
<body>
<div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

<form asp-controller="Auth" asp-action="Register" method="post">
   
    <h3>Admin Login Panel</h3>
        <div>
        <label>Email</label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>

    </div>
      <div>
        <label>Confirm Password</label>
        <input asp-for="ConfirmPassword"/>
        <span asp-validation-for="ConfirmPassword"></span>

    </div>
    <div class="btn">
    <input type="submit" value="Sign Up"/> 
    </div> 
    <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>    
   

    </form>

    </body>

















    